{% extends 'reviews/base.html' %}
<title>
    {% if instance == None %}New Publisher {% else %}Editing Publisher {{instance.name}} {% endif %}
</title>

<body>
{% block content %}
    <h2>
        {% if instance == None %}New Publisher {% else %}Editing {{model_type}} <em>{{ instance.title }}</em> {% endif %}
        {% if related_model_type and related_instance %}
        <p>For {{related_model_type}} <em>{{related_instance}}</em></p>
        {% endif %}
    </h2>
<form method="POST" {% if is_upload %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit">
        {% if instance == None %}Create{% else %}Save{% endif %}
    </button>

</form>
{% endblock %}
</body>