{% extends 'reviews/base.html' %}
<title>
    {% if instance == None %}New Publisher {% else %}Editing Publisher {{instance.name}} {% endif %}
</title>

<body>
{% block content %}
    <h2>
        {% if instance == None %}New Publisher {% else %}Editing Publisher <em>{{instance.name}}</em> {% endif %}
    </h2>
<form method="POST">{% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit">
        {% if instance == None %}Create {% else %}Save {% endif %}
    </button>

</form>
{% endblock %}
</body>